.friends-section .friends-section-title {
    font-size: 13px;
    font-weight: 500;
    color: rgb(177, 177, 177);
    padding: 7px 15px;
    border-top: 1px solid #F7F7F7;
    border-bottom: 1px solid #F7F7F7;
}

.friends-section-rows .friends-section-row {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.friends-section-rows .friends-section-row a,
.friends-section-column {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.friends-section-row img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.friends-section-row .friends-section-tagline {
    font-size: 13px;
    background-color: #F7F7F7;
    padding: 15px 10px;
    border-radius: 5px;
    color: #A7A7A7;
}
.friends-section-row {
    display: flex;
    justify-content: space-between;
}
