
.top-header {
    background-color: #523636;
    color: white;
    padding: 5px 7px 15px 7px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

.top-header .header-top,
.top-header .header-bottom {
    display: flex;
    justify-content: space-between;
}

.top-header .header-top {
    margin-bottom: 15px;
    font-size: 12px;
}

.top-header .header-bottom {
    margin: 0 7px;
}

.top-header .header-column {
    width: 33%;
}

.top-header .header-column:last-child {
    text-align: right;
}

.top-header .header-column:nth-child(2) {
    text-align: center;
}

.top-header .header-num {
    color: yellow;
}
