.search-bar {
    padding: 20px 15px 10px 15px;
    position: relative;
    z-index: 10;
}

.search-bar input {
    width: 100%;
    background-color: #F7F7F7;
    border: 0px solid transparent;
    border-radius: 5px;
    line-height: 25px;
    text-align: center;
    outline: none;
    transition: all .1s ease-in-out;
}
.search-bar input::placeholder {
    color: #A7A7A7;
}

.search-bar input:focus {
    box-shadow: 0px 3px 7px rgba(0,0,0,0.1);
    border: 1px solid #FFE934;
}
.search-bar i {
    position: absolute;
    color: #A7A7A7;
    top: 25px;
    left: 50px;
}
